@tailwind base;
@tailwind components;
@tailwind utilities;


.box-preload {
    @apply w-full h-full absolute bg-gray-200;
}
.hid2{
 display: none;
}
.hid {
    opacity: 0;
    transition: opacity 4s ease-in-out;
}

#post-box {
    @apply flex lg:flex-row flex-col justify-start w-full flex-wrap;
}

